.container {
  width: 800px;
  padding: 20px 8px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.nav-item {
  width: 33.33%;
  padding: 6px;
  cursor: pointer;
  text-align: center;
}

.nav-item:hover {
  color: #777777;
  background-color: #efefef;
}

