.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 8px;
  padding-left: 8px;
}

.line {
  border-top: 1px solid #bfbfbf;
}

.audio-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.canvas-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}