.App {}

.demo-nav {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  width: 800px;
  padding: 60px 0;
  margin: 0 auto;
}

.demo-nav-item {
  box-sizing: border-box;
  width: 33.33%;
  padding: 4px 6px;
  margin-bottom: 6px;
  text-align: center;
}

.demo-nav-item:hover {
  background-color: #efefef;
}