.container {
  display: flex;
  /* justify-content: space-between;
  align-items: flex-start; */
  flex-wrap: wrap;
  align-content: flex-start;
  width: 800px;
  padding: 16px 0;
  margin: 0 auto;
}

.demo-item {
  position: relative;
  box-sizing: border-box;
  width: 400px;
  padding: 6px;
}

.demo-item-shadow {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  height: 240px;
  padding: 6px;
  background-color: #efefef;
}

.demo-item-bottom {
  display: flex;
  justify-content: center;
}
.demo-item-bottom button:hover {
  color: #cfcfcf;
}
